<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tigeu Wallet</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Tigeu Wallet</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/"><span>Home</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/transactions"><span>Transactions</span></a><a class="nav-link" href="/send"><span>Send</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" id="text" placeholder="해시 / 주소"><button class="btn btn-primary py-0" id="search" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" id="text" placeholder="해시 / 주소">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" id="search" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <span class="d-none d-lg-inline me-2 text-gray-600 small"><%= address %></span>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                <h6 class="text-primary fw-bold m-0"><span style="color: rgb(58, 59, 69);">잔액</span></h6>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span><%= balance %> TGX</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                                <h6 class="text-primary fw-bold m-0"><strong><span style="color: rgb(54, 185, 204);">총 전송 수량</span></strong></h6>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span><span style="color: rgb(54, 185, 204);"><%= input %> TGX</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                                <h6 class="text-primary fw-bold m-0"><strong><span style="color: rgb(231, 74, 59);">총 수신 수량</span></strong></h6>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span><span style="color: rgb(231, 74, 59);"><%= output %> TGX</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0"><span style="color: rgb(58, 59, 69);">대기 거래</span></h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item pending">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                                    <h6 class="text-primary fw-bold m-0"><span style="color: rgb(58, 59, 69);">진행도</span></h6>
                                                </div>
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col me-2">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="col-auto">
                                                                <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="progress progress-sm">
                                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: <%= process %>%;"><span class="visually-hidden">50%</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0"><span style="color: rgb(58, 59, 69);">최근 완료 거래</span></h6>
                                </div>
                                <ul class="list-group list-group-flush latestTransactions"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © cobeol 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/axios.min.js"></script>

    <script>
        let latestTransactionsHtml = '<%= latestTransactionsHtml %>'
            .replaceAll('&lt;', '<')
            .replaceAll('&#34;', '\"')
            .replaceAll("&gt;", ">")

        let pendingTransfersHtml = '<%= pendingTransfersHtml %>'
            .replaceAll('&lt;', '<')
            .replaceAll('&#34;', '\"')
            .replaceAll("&gt;", ">")

        $('.latestTransactions').append(latestTransactionsHtml)
        $('.pending').after(pendingTransfersHtml)

        $('#search').on('click', () =>
        {
            let text = $('#text').val()
            axios.post('/transactions', 
            {
                hash: text
            })
                .then((res) =>
                {
                    location.href = `/${res.data.result ? `transactions` : `address`}/${text}`
                })
        })
    </script>
</body>

</html>